body {
    background: #e8e8e8;
    /* font-family: 'Nunito', sans-serif; */
    overflow-x: hidden;
    /* padding-top: 70px; */
}
img{
    max-width: 100%;
    display: block;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }
  
  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    /* font-family: 'Muli', sans-serif; */
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: normal;
  }

  h2 {
    color: #353535;
    font-size: 1.7rem;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 1em;
  }

  h3,
  h3 a {
    color: #454545;
  }
  h4 {
    font-size: 1em;
    color: #454545;  
  }

  p {
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
  }

  a {
      color: green;
      font-weight: 500;
  }
  .news-date{
      font-size: .875rem;
      opacity: 5;
      font-weight: 400;
  }
 
/*-----------------------
GENERAL
----------------------- */
.top-padding{
    padding-top: 150px;
}
header{
    position:fixed;
    z-index: 1;
    width: 100%;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.footer-group2 {
    margin-top: 0 !important;
}
.container{
    /* border: 1px solid yellow; */
}
.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 675px) {
    .container-flex{
        flex-direction: row;
    }
    main{
        width: 75%;
    }
    aside{
        width: 20%;
        min-width: 150px;
        margin-left: 1em;
    }
}

/* ---article--- */
.recent-post-section{
    /* border: 1px solid pink; */
    margin-bottom: 3em;
    overflow-y: hidden;
}
.recent-post{
    display: flex;
    flex-direction: column;
}
.recent-post-info{
    order: 2;
}
.recent-post-image{
    order: 1;
}
@media (min-width: 675px) {
    h3{
        margin-top: 0;
    }
    .recent-post{
        flex-direction: row;
        justify-content: space-between;
    }
    .recent-post-info{
        width: 60%;
    }
    .recent-post-secondary{
        width: 35%;
    }
    .recent-post-image{
        width: 100%;
        min-height: 170px;;
        object-fit: cover;
    }
    .recent-post-date{
        text-align: left !important;
        padding-left: .5em;
    } 
}
.news-featured{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2em; 
    margin-bottom: 2em;
}
.news-image{
    margin-bottom: .5em;
    order: 0;
}
.news-date{
    color: #ccc;
    margin-top: -3em;
    order: 1;
    text-align: right;
    padding-right: .5em;
}
.news-date i{
    padding-right: .5em;
}
.news-title{
    margin-top: .5em;
    order: 2;
}
.news-body{
    order:3;
}
.news-read-more{
    order:4;
    font-size: .875rem;
}
.news-read-more:hover,
.news-read-more:focus{
    text-decoration: underline;
}

/* --widget-- */
.sidebar-widget{
    margin-bottom: 2em;
}
.sidebar-widget:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.widget-title{
    margin-bottom: 1em;
}
.widget-body span a{
    color: #149701;
    font-weight: 700;
}
.widget-body span a:hover,
.widget-body span a:focus{
 text-decoration: underline;
}
.new-widget{
    display: flex;
    flex-direction: column;
}
.new-widget:not(:last-child){
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.new-widget-title{
    order: 2;
    margin-bottom: 1em;
    margin-top: .5em;
    font-weight: 500;
    font-size: 1rem;
}
.new-widget-image{
    order: 1;
}
.new-widget a{
    text-transform: none  !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    color: inherit;
}

/* --verdict-widget-- */
.widget-verdict{
    width: 100%;
    min-width: 300px;
    /* max-height: 100px !important;  */
}
.widget-verdict .inner-col-title{
    color: red;
    font-size: .875rem;
}
.widget-verdict .verdict-ad-img{
    width: 70px;
    min-height: 70px;
    object-fit: cover;
}
.widget-verdict .verdict-ad{
    padding: 2em 1em;
    border: 1px solid yellow;
}
.widget-verdict-area{
    width: 90%;
}
@media (min-width: 675px) {
    .widget-verdict .verdict-ad-img{
        width: 50px;
        min-height: 50px;
        object-fit: cover;
    } 
    .widget-verdict-area{
        width: 100%;
        border: 1px solid red;
    }
    .widget-verdict{
        min-width: 300px;
    }
    .widget-verdict .verdict-ad{
        min-width: 150px !important;
        padding: 1em .3em;
        border: 1px solid yellow;
    }
    .widget-verdict .versus{
        font-size: 1.125rem;
    }
}